<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>EchoSpace</title>
    <link rel="stylesheet" href="/index.css" />
  </head>
  <body>
    <%- include("./include/navbar.ejs") %>
    <%- include("./include/footer.ejs") %>
  </body>
</html>
