<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="index.css" />
    <title>Creat Post</title>
  </head>
  <body>
    <%- include("./include/navbar.ejs") %>
    <div class="post-header container">
      <div class="sider"></div>
      <h1 class="center posts heading">Creat Post</h1>
      <div class="new f aic jce"></div>
    </div>
    <div class="container">
      <form method="post" class="new">
        <input type="text" maxlength="20" name="username" placeholder="Enter Username" required/>
        <br /><br />
        <h2>Gender :</h2>
        <br>
        <input type="radio" name="gender" value="male" id="male" checked/>
        <label for="male">Male</label>
        <input type="radio" name="gender" value="female" id="female" />
        <label for="female">Female</label><br /><br />
        <textarea maxlength="1000" name="content" id="content" required cols="60" rows="10"></textarea><br /><br />
        <button type="submit">Creat</button>
      </form>
    </div>
    <%- include("./include/footer.ejs") %>
  </body>
</html>
