<footer class="footer">
  <div class="footer-content">
    <nav>
      <h6 class="footer-heading">Services</h6>
      <a class="footer-link">Branding</a>
      <a class="footer-link">Design</a>
      <a class="footer-link">Marketing</a>
      <a class="footer-link">Advertisement</a>
    </nav>
    <nav>
      <h6 class="footer-heading">Company</h6>
      <a class="footer-link">About us</a>
      <a class="footer-link">Contact</a>
      <a class="footer-link">Jobs</a>
      <a class="footer-link">Press kit</a>
    </nav>
    <nav>
      <h6 class="footer-heading">Legal</h6>
      <a class="footer-link">Terms of use</a>
      <a class="footer-link">Privacy policy</a>
      <a class="footer-link">Cookie policy</a>
    </nav>
  </div>
</footer>
